.css-bhp9pd-MuiPaper-root-MuiCard-root {
    background-color: unset !important;
}

.outer-card {
    width: 310px; /* Set the desired width */
    height: 520px; /* Set the desired height to make it rectangular */
    /* background-size: contain; */
    background-position: center;
    color: white;
    padding: 10px;
    margin: 20px;
    position: relative;
    background-repeat: no-repeat;
    background-size: 100% 100%
}

.item-card {
    width: 310px; /* Set the desired width */
    height: 520px; /* Set the desired height to make it rectangular */
    /* background-size: contain;  */
    background-position: center;
    color: white;
    /* padding: 5px; */
    box-shadow: 0 0 15px rgba(255, 69, 0, 0.5) !important;
    position: relative;
    background-repeat: no-repeat;
    background-size: 100% 100%
}

.item-title {
    color: #dca779;
    font-weight: bold;
    max-width: 70%;
    padding-left: 40px;
    padding-top: 30px;
}

.item-subtitle {
    color: #FFD700;
    text-align: center;
    padding-left: 28px;
    padding-top: 2px;
}

.item-section {
  
   
    margin-bottom: 10px;
}

.border{
    /* border-top: 1px solid #FFD700; */

}

.halfline{
    width: 50%;

}
.fullline{
    width: 90%;

}
.outer-border{
    width: 100%;
    display: flex;
    padding-left: 25px;
    align-items: start;
    justify-content: start;
}
.item-section:first-of-type::before {
    content: "";
    position: absolute;
    top: -1px; /* Align with the top border */
    left: 0;
    width: 50%; /* Adjust the length as needed */
    /* border-top: 2px solid #FFD700;  */
}
.item-flavor{
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
  }

.custom-icon{
    flex: 1;
    width: 15px;
    height: 15px;
}
.item-text {
    margin-bottom: 5px;
    color: #bab0a3;
}

.item-flavor {
    font-style: italic;
}

.item-class {
    color: #FFD700;
}

.item-boss-drop {
    color: #FFD700;
    margin-top: 10px;
    font-size: 11px !important;
    padding-right: 30px;
}
.item-para{
    
    margin-bottom: 5px;
    color: #bab0a3;
    font-size: 12px !important;
}

.hammer-image {
    width: 80px;
    /* Adjust width as needed */
    height: 80px;

    /* Adjust height as needed */
    position: absolute;
    top: 8px;
    right: 0px;
    z-index: 1;
    /* Ensure it appears above the card content */
}



@font-face {
    font-family: 'Exocet';
    src: url('../public/fonts/ExocetBlizzardOT-Medium.ttf');
    
}
@font-face {
    font-family: 'Alegreya';
    src: url('../public/fonts/AlegreyaSans-Medium.ttf');
    
}
@font-face {
    font-family: 'Old';
    src: url('../public/fonts/OldFenris-Regular.otf');
    
}

/* Applying Jost font */
.font-jost {
    font-family: 'Jost', sans-serif;
}


.custom-font1 {
    font-family: 'Alegreya', sans-serif !important
 
}
.custom-font2 {
    font-family: 'Exocet', sans-serif !important
 
}
.custom-font3 {
    font-family: 'Old', sans-serif !important
 
}

.item-section {
    list-style: none; /* Remove default list style */
    padding-left: 21px; /* Ensure there's space for the custom bullet */
    padding-right: 21px; /* Ensure there's space for the custom bullet */
    position: relative;
}

.item-section > li {
    position: relative;
    padding-left: 13px; /* Ensure there's space for the custom bullet */
}

.item-section > li::before {
    content: " ";  
    width: 3px; /* Width of the bullet */  
    height: 3px; /* Height of the bullet */  
    transform: rotate(45deg); /* Rotating the rectangle */  
    border: 1px solid #bab0a3;   
    position: absolute; /* Positioning the bullet as absolute. It will be relative to the li item */  
    left: 0; /* Stick the bullet to the left side */  
    top: 9px; /* Align the bullet with the first line of li text */
}


li{
    font-size: 12px !important;
    padding-top: 1px;
    padding-bottom: 1px;
}